* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt-color: white;
}

body {
    width: 1440px;
    height: 100vh;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.primary .navbar {
    width: auto;
    display:flex;
   justify: space-between;
    gap: 15px;
    color: var(--txt);
    padding: 15px;
    font-size: 25px;
}

.navbar a {
    color: var(--txt-color);
    text-decoration: none;
}


.navbar a .profil {
    margin-left: 600px;
}

.profil {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 800px;
}

.section-pertama {
    background-image: url("assets/image.png");
    background-size: auto;
    width: 1440px;
    height: 587px;
    background-repeat: no-repeat;
    
    
    
    color: var(--txt-color);
}

.section-pertama p {
    color: var(--txt-color);
}

.section1 {
    margin-top: 94px;
    gap: 10px;
}




.film {
    display: flex;
    gap: 10px;
}

.film img {
    width: 250px;
    height: 250px;
}